@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* COLORS */
    --color-white: #FFFFFF;
    --color-slate-900:#48556A;
    --color-slate-500: #6E8098;
    --color-slate-400: #9DAEC2;
    --color-slate-200: #ECF2F8;

    /* SPACING */
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1300: 104px;
    --spacing-2000: 160px;
    
}
/* txt-preset-1-bld  */
h1 {
    color: var(--color-slate-900, #133041);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
    letter-spacing: 0.25px;
}
/* txt-preset-2-medium */
p {
    color: var(--color-slate-500, #133041);
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: 0.016px;
}
/* txt-preset-2-bold */
.author-name {
    color: var(--color-slate-900, #133041);
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 0.016px;
}
/* txt-preset-3 */
.date-formatting {
    color: var(--color-slate-900, #133041);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: 3.25px;
    font-family: Manrope;
}

body {
    height: 100vh;
}




/* CARD */
.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    border-radius: 10px;
}




/* IMAGE */

.hero-img {
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
}



/* MAIN SECTION */

.content-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    padding: 0 var(--spacing-400) var(--spacing-200) ;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}




/* AUTHOR SECTION / FOOTER */

.author-container {
    display: flex;
    justify-content: space-between;
}

.author-img-text-wrapper {
    display: flex;
    gap: var(--spacing-200);
}

.profile-pic {
    height: 40px;
    border-radius: 50%;
}

#share-icon-container{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-slate-200);
}

#share-icon {
    height: 13px;
    width: 15px;
    color: white;   
}


/* SHARE COMPONENT */

.share-component-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-slate-900);
    padding: var(--spacing-200) var(--spacing-400);
    border-radius: 0 0 10px 10px;
}

.hidden {
    display: none;
}

.text-logo-container {
    display: flex;
    gap: var(--spacing-400);
    align-items: center;
}

.share-icon-container {
    display: flex;
    gap: var(--spacing-200);
}

.share-text {
    vertical-align: middle;
    color: var(--color-slate-600, #133041);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: 3.25px;
    text-transform: uppercase;
    font-family: Manrope;
}
